<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/favicon.ico">
    {% block css %}{% endblock %}
  </head>

  <body>
        <div class="container d-flex flex-column">
    <h1>Your job matches</h1>
      <b>Matches: {{matches|length}}</b>
      {% for candidate in matches%}
          <!-- <li>{{jobs}}</li> -->
          <p><b>Candidate: {{candidate.username}}</b></p>
          <p>Position: {{candidate.title}}</p>

            <div class="row">
              <div class="col">
                <b>Skills: </b>
                {% for skill in candidate.skills%}
                  <li>{{skill}}</li>
                {% endfor %}
              </div>
            </div>
      {% endfor %}
    
  </body>

</html>