<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/favicon.ico">
    {% block css %}{% endblock %}
  </head>

  <body>
    {% block content %}{% endblock %}
    <div class="container d-flex flex-column">
    <h1>Your job matches</h1>
      <b>Matches: {{matches|length}}</b>
      {% for poitions in matches%}
          <!-- <li>{{jobs}}</li> -->
          <p><b>Company: {{poitions.company}}</b></p>
          <p>Position: {{poitions.title}}</p>

            <div class="row">
              <div class="col">
                <b>Skills: </b>
                {% for skill in poitions.skills%}
                  <li>{{skill}}</li>
                {% endfor %}
              </div>
            </div>

            <div class="row">
              <div class="col">
                <b>Description:</b>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-11">
                    {{poitions.description}}
                  </div>
                </div>
              </div>
            </div>

      {% endfor %}
    
  </body>

</html>