<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/favicon.ico">
    {% block css %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../"> <b>Jobify</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/match_seeker_side/{{username}}">search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_matches_seeker/{{username}}">my matches</a>
            </li>
        </ul>
    </div>
  </nav>
    
        <div class="container d-flex flex-column">
    <h1>Your job matches</h1>
      <b>Matches: {{matches|length}}</b>
      {% for candidate in matches%}
          <!-- <li>{{jobs}}</li> -->
          <p><b>Candidate: {{candidate.username}}</b></p>
          <p>Position: {{candidate.title}}</p>

            <div class="row">
              <div class="col">
                <b>Skills: </b>
                {% for skill in candidate.skills%}
                  <li>{{skill}}</li>
                {% endfor %}
              </div>
            </div>
      {% endfor %}
    
  </body>

</html>
