<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/favicon.ico">
    {% block css %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../"> <b>Jobify</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile_position/{{position.company}}/{{position.title}}">profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/match_position_side/{{position.company}}/{{position.title}}">search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_matches_position/{{position.company}}/{{position.title}}">my matches</a>
            </li>
        </ul>
    </div>
  </nav>
    
    {% block content %}{% endblock %}
    <div class="container d-flex flex-column">
    <h1>Your profile matches</h1>
      <b>Matches: {{matches|length}}</b>
      {% for profile in matches%}
          <p><b>Username: {{profile.username}}</b></p>

            <div class="row">
              <div class="col">
                <b>Skills: </b>
                {% for skill in profile.skills%}
                  <li>{{skill}}</li>
                {% endfor %}
              </div>
            </div>

      {% endfor %}
    
  </body>

</html>
