{% extends 'layout.html' %}

<body>
{% block content %}
<p>Seeker Profile</p>

<div class="container">
    <div class="card-header">
        <p>Make A Profile</p>
    </div>
    <form action ="" method ="POST">
        <div class ="card-body">
            <div class="card-username">
                <input type ="text" class="form-control" id="username" name="username" value= "{{username}}" placeholder="username">
            </div>
            <div class="card-email">
                <input type ="text" class="form-control" id="email" name="email" value="" placeholder="username@email.com"> **
            </div>
            <div>
                ** Your email will only be shared with employers after the matching step. We do not share your private information with anyone.
            </div>
            <div class="add-stuff">
                <input type ="text" class="form-control" id="job-field" name="job_field" value= "" placeholder="Job Field">
                <input type ="text" class="form-control" id="skill-1" name="skill_1"  value= "" placeholder="skill-1">
                <input type ="text" class="form-control" id="skill-2" name="skill_2"  value= "" placeholder="skill-2">
                <input type ="text" class="form-control" id="skill-3" name="skill_3"  value= "" placeholder="skill-3">
                <input type ="text" class="form-control" id="skill-4" name="skill_4"  value= "" placeholder="skill-4">
                <input type ="text" class="form-control" id="skill-5" name="skill_5"  value= "" placeholder="skill-5">
                <input type ="text" class="form-control" id="prefer-location" name="prefer_location"  value= "" placeholder="prefer location">

            </div>
            <div class="card-submit">

                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
</body>
</html>